// doctype html
// html
//   head
//     title= title
//     link(rel='stylesheet', href='/stylesheets/style.css')
//   body
//     block content
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      // navigation
      nav
        .content
          a.logo(href='/')
            //img(src='/images/vmcaremain.png', alt='FastDelivery')
          ul.menu
            li
              a(href='/') Home
            li
              a(href='/blog') Blog           
             li
              a(href='/services') Services
            li
              a(href='/contacts') Contacts
            li
              a(href='/login') Login
            li
              a(href='/RegisterDetails') HealthRecord
          br.clear
      // home page
      .home
       
        .teaser
          .content
            h2 #{title}
            p Virtual Medicare
            .home-teaser-icons
              .home-teaser-icons1
                a(href='#')
                  img(src='/images/askadoctor.png', alt='')
                a(href='#')
                  img(src='/images/askaspecialist.png', alt='')
                a(href='#')
                  img(src='/images/askadietitian.png', alt='')
                br.clear
              .home-teaser-icons2
                a(href='#')
                  img(src='/images/healthriskassessment.png', alt='')
                a(href='#')
                  img(src='/images/getacallfromdoctor.png', alt='')
                a(href='#')
                  img(src='/images/wellnessstore.png', alt='')
                a(href='#')
                  img(src='/images/schedulleappointment.png', alt='')
                br.clear
              .home-teaser-icons2
                a(href='#')
                  img(src='/images/healthtools.png', alt='')
                a(href='#')
                  img(src='/images/babymagic.png', alt='')
                a(href='#')
                  img(src='/images/healtharticles.png', alt='')
                a(href='#')
                  img(src='/images/healthcareservices.png', alt='')
                br.clear
              .home-teaser-icons2
               a(href='#')
                  img(src='/images/healthtips.png', alt='')
            .blog-articles
          .content
           // | {}
          br.clear
      // footer
      .footer
        .content
          | VMCare © 2015
